# General system files
.DS_Store
Thumbs.db

# Composer files
/vendor/
/composer.lock
/auth.json

# ddev files
/.ddev/

# Node.js / frontend build tools (if used)
node_modules/
build/
dist/

# TYPO3 temporary/published files
/public/_assets/
/public/typo3/
/public/fileadmin/_temp_/
/public/fileadmin/user_upload/
/public/fileadmin/_processed_/
/public/typo3temp/
/public/.htaccess
/public/.index.php
var/
config/system/settings.php
config/system/additional.php

# IDE specific (e.g. PhpStorm)
.idea/
*.iml

# Log files
*.log

# Backup files
*.bak
*.tmp
*~

# Database files
*.sql
*.csv

.env

# Other repositories

# Local review notes
review.md
