<html
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
  <f:layout name="Preview" />

  <f:section name="Header">
      <f:if condition="{data.header}">
        {data.header}
      </f:if>
  </f:section>

  <f:section name="Content">
    <div id="c{data.uid}" class="{data.CType}">
      <ul class="list-group">
        <f:if condition="{data.storageFolder}">
            <li class="list-group-item d-flex justify-content-between">
              <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_storageFolder">
                <f:translate key="{cb:languagePath()}:storageFolder.label" />
              </be:link.editRecord>
              <div class="list-group">
                <f:for each="{data.storageFolder}" as="folder">
                  <f:be.link route="web_list" parameters="{id: folder.uid}" title="{folder.title}" class="list-group-item list-group-item-action">
                    {folder.title}
                  </f:be.link>
                </f:for>
              </div>
            </li>
        </f:if>

        <f:if condition="{data.recursive}">
          <li class="list-group-item d-flex justify-content-between">
            <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_recursive">
              <f:translate key="{cb:languagePath()}:recursive.label" />
            </be:link.editRecord>
            <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_recursive">
              <span>{data.recursive}</span>
            </be:link.editRecord>
          </li>
        </f:if>

        <f:if condition="{data.orderBy}">
          <li class="list-group-item d-flex justify-content-between">
            <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_orderBy">
              <f:translate key="{cb:languagePath()}:orderBy.label" />
            </be:link.editRecord>
            <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_orderBy">
              <span>{data.orderBy}</span>
            </be:link.editRecord>
          </li>
        </f:if>

        <f:if condition="{data.categoryOrderBy}">
          <li class="list-group-item d-flex justify-content-between">
            <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_categoryOrderBy">
              <f:translate key="{cb:languagePath()}:categoryOrderBy.label" />
            </be:link.editRecord>
            <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_categoryOrderBy">
              <span>{data.categoryOrderBy}</span>
            </be:link.editRecord>
          </li>
        </f:if>

        <f:if condition="{data.filterByCategory}">
          <li class="list-group-item d-flex justify-content-between">
            <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_filterByCategory">
            <f:translate key="{cb:languagePath()}:tabs.tabFilter" />: <f:translate key="{cb:languagePath()}:filterByCategory.label" />
            </be:link.editRecord>
            <div class="list-group">
              <f:for each="{data.filterByCategory}" as="category">
                <be:link.editRecord uid="{category.uid}" table="sys_category" class="list-group-item list-group-item-action">
                  {category.title}
                </be:link.editRecord>
              </f:for>
            </div>
          </li>
        </f:if>

        <f:if condition="{data.openItem}">
          <li class="list-group-item d-flex justify-content-between">
            <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_openItem">
              <f:translate key="{cb:languagePath()}:openItem.label" />
            </be:link.editRecord>
            
            <f:if condition="{data.openItem}=='first'">
              <f:then>
                <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_openItem">
                  <f:translate key="{cb:languagePath()}:openItem.items.{data.openItem}.label" />
                </be:link.editRecord>
              </f:then>
              <f:else>
                <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_openByUid">
                  <f:translate key="{cb:languagePath()}:openItem.items.{data.openItem}.label" />
                </be:link.editRecord>
              </f:else>
            </f:if>
            
            <f:if condition="{data.openItem}=='uid' && {data.openByUid}">
              <div class="list-group">
                <f:for each="{data.openByUid}" as="faq">
                  <be:link.editRecord uid="{faq.uid}" table="tx_gedankenfolger_faq_item" class="list-group-item list-group-item-action">
                    {faq.question}
                  </be:link.editRecord>
                </f:for>
              </div>
            </f:if>
          </li>
        </f:if>

        <li class="list-group-item d-flex justify-content-between">
          <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_openSingleOnly">
            <f:translate key="{cb:languagePath()}:openSingleOnly.label" />
          </be:link.editRecord>
          <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_openSingleOnly">
            <f:if condition="{data.openSingleOnly}">
              <f:then>
                <core:icon identifier="actions-check-circle" size="small" />
              </f:then>
              <f:else>
                <core:icon identifier="actions-circle" size="small" />
              </f:else>
            </f:if>
          </be:link.editRecord>
        </li>

        <li class="list-group-item d-flex justify-content-between">
          <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_groupByCategory">
            <f:translate key="{cb:languagePath()}:groupByCategory.label" />
          </be:link.editRecord>
          <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_groupByCategory">
            <f:if condition="{data.groupByCategory}">
              <f:then>
                <core:icon identifier="actions-check-circle" size="small" />
              </f:then>
              <f:else>
                <core:icon identifier="actions-circle" size="small" />
              </f:else>
            </f:if>
          </be:link.editRecord>
        </li>

        <f:if condition="{data.groupByCategory}">
          <li class="list-group-item d-flex justify-content-between">
            <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_showCategoryTitles">
              <f:translate key="{cb:languagePath()}:showCategoryTitles.label" />
            </be:link.editRecord>
            <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_faq_showCategoryTitles">
              <f:if condition="{data.showCategoryTitles}">
                <f:then>
                  <core:icon identifier="actions-check-circle" size="small" />
                </f:then>
                <f:else>
                  <core:icon identifier="actions-circle" size="small" />
                </f:else>
              </f:if>
            </be:link.editRecord>
          </li>
        </f:if>
      </ul>
    </div>
  </f:section>

  <f:section name="Footer">
      <div class="d-flex justify-content-between">
        <be:link.editRecord uid="{data.uid}" table="tt_content">UID: {data.uid}</be:link.editRecord>
        <be:link.editRecord uid="{data.uid}" table="tt_content">PID: {data.pid}</be:link.editRecord>
      </div>
  </f:section>
</html>