<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
  xmlns:schema="http://typo3.org/ns/Brotkrueml/Schema/ViewHelpers"
  schema:schemaLocation="https://brot.krue.ml/schemas/schema-1.9.0.xsd" data-namespace-typo3-fluid="true">

  <f:if condition="!{data.gedankenfolger_faq_groupByCategory}">
    <f:then>
        <f:if condition="{faqs}">
          <f:render partial="Frontend/Layout{data.layout}/Faqs" arguments="{_all}" />
        </f:if>
    </f:then>
    <f:else>
        <f:if condition="{faqsByCategory}">
          <f:render partial="Frontend/Layout{data.layout}/FaqsByCategories" arguments="{_all}" />
        </f:if>
    </f:else>
  </f:if>
  <f:if condition="{faqs}">
    <f:if condition="{settings.schemaEnabled}">
      <f:render partial="Frontend/Schema" arguments="{language:language,faqs:faqs}" />
    </f:if>
  </f:if>
</html>
