<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
  xmlns:schema="http://typo3.org/ns/Brotkrueml/Schema/ViewHelpers"
  schema:schemaLocation="https://brot.krue.ml/schemas/schema-1.9.0.xsd" data-namespace-typo3-fluid="true">

<div class="gf-faq" data-faq-parameter="{settings.parameterName}">
  <f:if condition="{faqs}">
    <ul class="gf-faq__list" role="list">
      {_all -> f:debug()}
      <f:for each="{faqs}" as="faq" iteration="iter">
        <li class="gf-faq__item gf-faq__item--{faq.data.colorVariant -> f:or(alternative: 'standard')}" data-faq-id="{faq.data.uid}">
          <button class="gf-faq__question" aria-expanded="{f:if(condition: openFirst && iter.isFirst, then: 'true', else: 'false')}" aria-controls="faq-panel-{faq.data.uid}" id="faq-control-{faq.data.uid}">
            <span class="gf-faq__question-text">{faq.data.question}</span>
          </button>
          <div class="gf-faq__answer" id="faq-panel-{faq.data.uid}" role="region" aria-labelledby="faq-control-{faq.data.uid}">
            <div class="gf-faq__answer-inner">
              {faq.data.answer -> f:format.raw()}
            </div>
          </div>
        </li>
      </f:for>
    </ul>

    <f:if condition="{settings.schemaEnabled}">
        <f:render partial="Frontend/Schema" arguments="{language:language,faqs:faqs}" />
    </f:if>
  </f:if>
</div>

</html>
