<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
  xmlns:schema="http://typo3.org/ns/Brotkrueml/Schema/ViewHelpers"
  schema:schemaLocation="https://brot.krue.ml/schemas/schema-1.9.0.xsd" data-namespace-typo3-fluid="true">

  {_all -> f:debug()}

<div class="{data.CType}" data-faq-parameter="{settings.parameterName}">
  <f:if condition="{faqs}">
    <div class="{data.CType}__list" role="list">
      <f:for each="{faqs}" as="faq" iteration="iter">
        <details id="faq-item{faq.data.uid}" class="{data.CType}__item {data.CType}__item--{f:if(condition: faq.data.colorVariant, then: faq.data.colorVariant, else: 'standard')}" {f:if(condition: '{data.gedankenfolger_faq_openFirst} && {iter.isFirst}', then: 'open')}>
          <summary class="{data.CType}__question">
            <span class="{data.CType}__question-text">{faq.data.question}</span>
          </summary>
          <div class="{data.CType}__answer">
            <div class="{data.CType}__answer-inner">
              {faq.data.answer -> f:format.raw()}
            </div>
          </div>
        </details>
      </f:for>
    </div>

    <f:if condition="{settings.schemaEnabled}">
        <f:render partial="Frontend/Schema" arguments="{language:language,faqs:faqs}" />
    </f:if>
  </f:if>
</div>

</html>
