<div data-gf-track="catFolder" data-gf-step="0" hidden>
    <h2><f:translate key="{xlf}catFolder.step1.title" /></h2>
    <p><f:translate key="{xlf}catFolder.step1.intro" /></p>
    <ol>
        <li><f:format.raw><f:translate key="{xlf}catFolder.step1.item1" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}catFolder.step1.item2" /></f:format.raw></li>
    </ol>
</div>
<div data-gf-track="catFolder" data-gf-step="1" hidden>
    <h2><f:translate key="{xlf}catFolder.step2.title" /></h2>
    <p><f:translate key="{xlf}catFolder.step2.intro" /></p>
    <ol>
        <li><f:format.raw><f:translate key="{xlf}catFolder.step2.item1" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}catFolder.step2.item2" /></f:format.raw></li>
    </ol>
</div>
