<div data-gf-track="faqItem" data-gf-step="0" hidden>
    <h2><f:translate key="{xlf}faqItem.step1.title" /></h2>
    <p><f:translate key="{xlf}faqItem.step1.intro" /></p>
    <ol>
        <li><f:format.raw><f:translate key="{xlf}faqItem.step1.item1" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}faqItem.step1.item2" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}faqItem.step1.item3" /></f:format.raw></li>
    </ol>
</div>
<div data-gf-track="faqItem" data-gf-step="1" hidden>
    <h2><f:translate key="{xlf}faqItem.step2.title" /></h2>
    <p><f:translate key="{xlf}faqItem.step2.intro" /></p>
    <ol>
        <li><f:format.raw><f:translate key="{xlf}faqItem.step2.item1" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}faqItem.step2.item2" /></f:format.raw></li>
    </ol>
</div>
<div data-gf-track="faqItem" data-gf-step="2" hidden>
    <h2><f:translate key="{xlf}faqItem.step3.title" /></h2>
    <p><f:translate key="{xlf}faqItem.step3.intro" /></p>
    <ol>
        <li><f:format.raw><f:translate key="{xlf}faqItem.step3.item1" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}faqItem.step3.item2" /></f:format.raw></li>
    </ol>
</div>
<div data-gf-track="faqItem" data-gf-step="3" hidden>
    <h2><f:translate key="{xlf}faqItem.step4.title" /></h2>
    <p><f:translate key="{xlf}faqItem.step4.intro" /></p>
    <ol>
        <li><f:format.raw><f:translate key="{xlf}faqItem.step4.item1" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}faqItem.step4.item2" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}faqItem.step4.item3" /></f:format.raw></li>
    </ol>
    <p class="text-info small mt-2"><f:translate key="{xlf}faqItem.step4.tip" /></p>
</div>
