<div data-gf-track="overview" data-gf-step="0" hidden>
    <h2><f:translate key="{xlf}overview.step1.title" /></h2>
    <p><f:translate key="{xlf}overview.step1.intro" /></p>
    <ol>
        <li><f:format.raw><f:translate key="{xlf}overview.step1.item1" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}overview.step1.item2" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}overview.step1.item3" /></f:format.raw></li>
    </ol>
</div>
<div data-gf-track="overview" data-gf-step="1" hidden>
    <h2><f:translate key="{xlf}overview.step2.title" /></h2>
    <p><f:translate key="{xlf}overview.step2.intro" /></p>
    <ol>
        <li><f:format.raw><f:translate key="{xlf}overview.step2.item1" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}overview.step2.item2" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}overview.step2.item3" /></f:format.raw></li>
    </ol>
</div>
<div data-gf-track="overview" data-gf-step="2" hidden>
    <h2><f:translate key="{xlf}overview.step3.title" /></h2>
    <p><f:translate key="{xlf}overview.step3.intro" /></p>
    <ol>
        <li><f:format.raw><f:translate key="{xlf}overview.step3.item1" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}overview.step3.item2" /></f:format.raw></li>
        <li><f:format.raw><f:translate key="{xlf}overview.step3.item3" /></f:format.raw></li>
    </ol>
</div>
